<div class="courses">
  <div class="search">
    <input type="text" class="search__input" placeholder="Type to search" [(ngModel)]="searchValue">
    <button type="button" class="search__button" (click)="onSearchButtonClick(searchValue)">Search</button>
  </div>
  <button class="courses__add-button">
    <mat-icon class="courses__add-icon">add_circle_outline</mat-icon>
    Add course
  </button>
  <div class="courses__container">
    <app-course-item *ngFor="let item of courses; trackBy:trackByFn" [course]="item" (deleteClicked)="onDeleteClick($event)"></app-course-item>
    <div class="courses__more-button">
      <a href="" (click)="onLoadMoreBtnClick($event)">LOAD MORE</a>
    </div>
  </div>
</div>
