<div class="courses">
  <app-search (search)="searchValue = $event"></app-search>
  <button class="courses__add-button">
    <mat-icon class="courses__add-icon">add_circle_outline</mat-icon>
    Add course
  </button>
  <div class="courses__container">
    <app-course-item *ngFor="let item of courses | filter:searchValue | orderBy:'desc'; trackBy:trackByFn" [course]="item" (deleteClicked)="deleteCourse($event)"></app-course-item>
    <div class="courses__bottom-container">
      <a href="" *ngIf="courses.length" (click)="loadMore($event)">LOAD MORE</a>
      <div class="courses__message" *ngIf="!courses.length">{{'No data, feel free to add new course' | uppercase}}</div>
    </div>
  </div>
</div>
