<mat-card>
  <div class="card">
    <div class="card__content content">
      <div class="content__header">
        <div class="content__title">{{ course.title}}</div>
        <div class="content__datetime datetime">
          <div class="datetime__item">
            <mat-icon class="datetime__icon">calendar_month</mat-icon>
            <span class="datetime__text">{{ transformMinutes(course.duration) }}</span>
          </div>
          <div class="datetime__item">
            <mat-icon class="datetime__icon">schedule</mat-icon>
            <span class="datetime__text">{{ course.creationDate | date:'d MMM, y'}}</span>
          </div>
        </div>
      </div>
      <div class="content__text">{{ course.description }}</div>
    </div>
    <div class="card__buttons buttons">
      <button type="button" class="buttons__button buttons__button_edit" (click)="onEditButtonClick()">
        <mat-icon class="buttons__icon" matPrefix>edit</mat-icon>
        Edit
      </button>
      <button type="button" class="buttons__button buttons__button_delete" (click)="onDeleteButtonClick()">
        <mat-icon class="buttons__icon" matPrefix>delete</mat-icon>
        Delete
      </button>
    </div>
  </div>
</mat-card>
