.logo {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  &__img {
    height: 2.8rem;
    width: 2.8rem;
    mask-image: url('/assets/logo.svg');
    background: linear-gradient(141deg, #0079AD 11%, #B4D084 100%);
  }

  &__text {
    font-size: 1.8rem;
    color: white;
    font-weight: 700;
	  text-transform: uppercase;
  }
}

